/* ===== Liquid Goal Widget - FINAL CSS ===== */

body {
  margin: 0;
  background: transparent;
  overflow: hidden;
}

/* Tamaño del widget + FORMA (mask.png) */
#goal-container {
  width: 300px;
  height: 600px;
  position: relative;
  overflow: hidden;

  /* Máscara (forma interior del recipiente) */
  -webkit-mask-image: url("mask.png");
  -webkit-mask-size: cover;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;

  mask-image: url("mask.png");
  mask-size: cover;
  mask-repeat: no-repeat;
  mask-position: center;
}

/* Vídeo del líquido */
#liquid {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: auto;

  /* Color del líquido (cámbialo aquí) */
  filter: hue-rotate(220deg) saturate(1.2);
}

/* Marco visible (frame.png) por encima del líquido */
#frame {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
