body {
  margin: 0;
  background: lime; /* DEBUG */
}

#goal-container {
  width: 300px;
  height: 600px;
  background: red; /* DEBUG */
  position: relative;
  overflow: hidden;
}

#liquid {
  position: absolute;
  bottom: 0;
  width: 100%;
}
