/* Fondo transparente para el widget */
body {
  margin: 0;
  background: transparent;
  overflow: hidden;
}

/* CONTENEDOR DEL GOAL (define tamaño y FORMA) */
#goal-container {
  width: 300px;
  height: 600px;
  position: relative;
  overflow: hidden;

  /* ===== MÁSCARA (FORMA) ===== */
  -webkit-mask-image: url("mask.png");
  -webkit-mask-size: cover;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;

  mask-image: url("mask.png");
  mask-size: cover;
  mask-repeat: no-repeat;
  mask-position: center;
}

/* VÍDEO DEL LÍQUIDO */
#liquid {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: auto;

  /* ===== COLOR DEL LÍQUIDO ===== */
  filter: hue-rotate(220deg) saturate(1.2);
}
